{% extends "base.html" %} {% block title %}Availability{% endblock %} {% block content%}
<br>
<form method="POST">
  <h4 align="left">Availability</h3>
  <div class="form-group">
    <label for="member">Member</label>
    <select type="text" class="form-control" id="memberchoice" name="memberchoice">
      {% for member in user.members%}
      <option>{{ member.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="date">when starts your availability</label>
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
      />
    </div>
    <div class="col">
      <label for="starttime">from</label>
      <input
        type="time"
        class="form-control"
        id="starttime"
        name="starttime"
      />
    </div>
    <div class="col">
      <label for="endtime">to</label>
      <input
        type="time"
        class="form-control"
        id="endtime"
        name="endtime"
      />
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-secondary">Submit</button>
  <br />
  <ul class="list-group" id="memberlist">
    {% for availability in user.availabilities%}
    <li class="list-group-item">
      {{availability.member}}
      <p> </p>
      {{ availability.startdate}}
      {{availability.enddate}}
      <button type="button" class="close" onClick="deleteAvailability({{ availability.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
</form>


{% endblock %}
