{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<form method="POST">
  <h3 align="center">Availability</h3>
  <div class="form-group">
    <label for="startdate">Member</label>
    <select type="text" class="form-control" id="memberchoice" name="memberchoice">
      {% for member in user.members%}
      <option>{{ member.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="startdate">when starts your availability</label>
      <input
        type="date"
        class="form-control"
        id="startdate"
        name="startdate"
      />
    </div>
    <div class="col">
      <label for="startdate">from</label>
      <input
        type="time"
        class="form-control"
        id="starttime"
        name="starttime"
      />
    </div>
    <div class="col">
      <label for="startdate">to</label>
      <input
        type="time"
        class="form-control"
        id="endtime"
        name="endtime"
      />
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>

{% endblock %}
