{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<form method="POST">
  <h3 align="center">Availability</h3>
  <div class="form-group">
    <label for="member">Member</label>
    <select type="text" class="form-control" id="memberchoice" name="memberchoice">
      {% for member in user.members%}
      <option>{{ member.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="date">when starts your availability</label>
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
      />
    </div>
    <div class="col">
      <label for="starttime">from</label>
      <input
        type="time"
        class="form-control"
        id="starttime"
        name="starttime"
      />
    </div>
    <div class="col">
      <label for="endtime">to</label>
      <input
        type="time"
        class="form-control"
        id="endtime"
        name="endtime"
      />
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-secondary">Submit</button>
  <ul class="list-group list-group-flush" id="memberlist">
    {% for availability in user.availabilities%}
    <li class="list-group-item">
      {{ availability.startdate}}
    </li>
    {% endfor %}
  </ul>
</form>


{% endblock %}
