{% extends "base.html" %} {% block title %}Plan{% endblock %} {% block content
    %}
    <br>
    <h4 align="left">Rehearsal plan for "{{user.bandname}}"</h4>
    <br>
    <form method="POST">
        <div>
          <button type="submit" class="btn btn-secondary">update plan</button>
        </div>
        <br>
          {% for date in result%}
          <li class="list-group-item">
            {{date}}
          </li>
          {% endfor %}
        </ul>
        
      </form>
  
    {% endblock %}